body{
    background-color: #ECEEEF;
    padding: 10% 0;
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    #content{
        .line{
            display: flex;
            .section{
                width: 75px;
                cursor: pointer;
                height: 75px;
                border-radius: 50px;
                background-color: #15B7F3;
                display: flex;
                justify-content: center;
                align-items: center;
                margin: 30px;
                p {
                    font-size: 25px;
                }
            }
        }
    }
}